<mat-toolbar style="background-color: #6b4003;">
  <mat-toolbar-row>
    <button mat-icon-button [matMenuTriggerFor]="mainMenu" aria-label="Example icon-button with a menu">
        <mat-icon>home</mat-icon>
    </button>
    <mat-menu #mainMenu="matMenu">
      <button mat-menu-item routerLink="/libraryaccounting">Library Accounting</button>
      <button mat-menu-item routerLink="/accounts">Accounts</button>
      <button mat-menu-item routerLink="/penaltiesaccounting">Penalties Accounting</button>
      <button mat-menu-item routerLink="/books">Books</button>
      <button mat-menu-item routerLink="/penalties">Penalties</button>
    </mat-menu>
    <span>Library</span>
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu">{{currentConnection$ | async}}</button>
    <mat-menu #menu="matMenu">
      <ng-container *ngFor="let connectionType of connectionTypes$ | async">
        <button mat-menu-item (click)="onMenuButtonClick(connectionType.toString())">{{connectionType.toString()}}</button>
      </ng-container>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
